@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    background-color: #0E100F;
    color : #FEFDE1;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 3px 15vw;
}

button{
    background-color: #FEFDE1;
    color: #0E100F;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 13px;
}

.active{
    background-color: #0E100F;
    color: #FEFDE1;
    border: 1px solid;
    border-color: #FEFDE1;
}

input{
    background-color: #0E100F;
    width: 240px;
}

form{
    /* color: #FEFDE1; */
    color: white;
    background-color: #0E100F;
    border-radius: 10px;
    font-size: 13px;
    margin-top: 10px;
    padding: 1px 3px 1px 10px;
    font-size: 13px;
    width: 280px;
    display: flex;
    justify-content: space-between;    
    /* border-right: 1px solid whitesmoke; */
}

form:hover{
    border-bottom: 1px solid rebeccapurple;
    box-shadow: 0 0 2px rebeccapurple;
    transition: all 1s ease;
}

input:focus{
    outline:none
}

.form-btn{
    background-color: #0E100F;
    color: #FEFDE1;
}


.main-para{
    font-size: 1rem;
    text-wrap: wrap;
}

/* main css styling ends here  */

.main-h1{
    font-size: 2.5rem;
}

.profile_card{
    border-left: 2px solid rebeccapurple;
    border-radius: 10px;
    box-shadow: 0 0 10px rebeccapurple;
    padding: 10px;
    /* border-right: 3px solid rebeccapurple; */
}

.secondPartImg{
    width: 50px;
height: 50px;
border-radius: 50px;
}

.know-more-btn{
    background-color: #0E100F;
    color: #FEFDE1;
    border: 1px solid #FEFDE1;
    box-shadow: 0 0 15px rebeccapurple;
}
